select.form-control {
  width : 70%;
}

html, body {
  font-family: "Open Sans", Helvetica, arial;
  font-size: 16px;
  color: #616161;
  /*color: #004789;*/
  line-height: 1.36;
  max-width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 20px auto;
  max-width: 450px;
  width: 100%;
}

div[type="centered"] {
  text-align: center;
}

input[type="text"] {
  font-size: 16px;
  padding: 8px;
  width: 96.4%;
  margin-bottom: 5px;
  border-radius: 4px;
  background: #F5F5F5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

input[type="text"]:focus {
  outline: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 3px;
  border-bottom-color: #757575;
}

input[type="text-name-left"] {
  font-size: 16px;
  padding: 8px;
  width: 45%;
  margin-bottom: 5px;
  margin-right: 13px;
  border-radius: 4px;
  background: #F5F5F5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

input[type="text-name-left"]:focus {
  outline: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 3px;
  border-bottom-color: #757575;
}

input[type="text-name-right"] {
  font-size: 16px;
  padding: 8px;
  width: 45%;
  margin-bottom: 5px;
  border-radius: 4px;
  background: #F5F5F5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

input[type="text-name-right"]:focus {
  outline: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 3px;
  border-bottom-color: #757575;
}

input[type="password"] {
  font-size: 16px;
  padding: 8px;
  width: 96.4%;
  margin-bottom: 5px;
  border-radius: 4px;
  background: #F5F5F5;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
}

input[type="submit"] {

}

input[type="submit"]:focus {
  outline:none
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

label.checkboxList {
  font-size: 18px;
}

label.checkboxListGuestlist {
  font-size: 18px;
  text-decoration: underline;
}

label.checkboxListWaitlist {
  font-size: 18px;
  text-decoration: underline;
}


.btn {
  border-radius: 3px;
  border: none;
  background: #757575;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin: 15px 4px 0px 4px;
  padding: 8px;
  width: 25%;
  float: left;
  text-decoration: none;
  text-align: center;
}

.btn:active {
  background: #616161;
}

.btn:focus {
  outline: none;
  border: #BDBDBD 3px solid;
  border-radius:3px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.form-fields {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form-footer {
  border-top: 2px solid #ddd;
  margin-top: 10px;
  padding-top: 20px;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

label[type="or"] {
  text-align: center;
}

label[type="errorMessage"] {
  font-size: 13px;
  font-weight: 400;
  color: #FF0000;
  margin-bottom: 4px;
  text-align: right;
}

label[type="tablesOf"] {
   font-weight: normal;
   text-align: center;
}

select {
  font-size: 16px;
  padding: 8px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h2[type="warning"] {
   color: red;
}

h3 {
  text-decoration: underline;
  display: inline-block;
  margin-right: 20px;
}

h4 {
  text-align: center;
}

.rc-calendar-full {
  width: 76%;
  margin-left: 50px;
  padding-left: 3px;
  padding-bottom: 2px;
  padding-right: 3px;
}

.date-cell {
  display: block;
  margin: 1px;
  color: #424242;
  font-size: 150%;
  border-radius: 8px 8px;
  width: 45px;
  height: 45px;
  background: transparent;
  line-height: 45px;
  text-align: center;
}

/* Material green 100/500 */
.date-cell.available {
  background: #C8E6C9;
}
.date-cell.available:hover {
  background: #81C784;

}
.date-cell.available:active {
  background: #43A047;
}
.date-cell.available.selected {
  background: #4CAF50;
}

/* Material yellow 100/500 */
.date-cell.waitlist {
  background: #FFF9C4;
}
.date-cell.waitlist:hover {
  background: #FFF176;
}
.date-cell.waitlist:active {
  background: #FDD835;
}
.date-cell.waitlist.selected {
  background: #FFEB3B;
}


/* Material red 50 */
.date-cell.unavailable {
  background: #FFEBEE;
  color:#BDBDBD;
}


/* Admin NavBar */

div.admin-nav-bar {
  position: fixed;
  background-color: #cccccc;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

ul.admin-nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

li.admin-nav-bar {
    display: inline;
    font-weight: bold;
}

li.admin-nav-bar a {
  padding: 8px;
  background-color: #dddddd;
}

div.admin-below-nav {
  margin-top: 80px;
}
